
@font-face{
  font-family: 'Sofia-Regular';
  src:url(//assets/media/Sofia/Sofia-Regular.ttf)
}

@font-face{
  font-family: 'HennyPenny-Regular';
  src:url(//assets/media/Henny_Penny/HennyPenny-Regular.ttf)
}

*{
    margin:0;
    padding:0;
    list-style: none;
}

html{
    margin:0;
    padding: 0;
    height: 100%;
}

body{
    background-color: #10141b;
    color: #fff;
    margin: 0;
    height: 100%;


}



.wizardingLogo{
    width: 70px;
    height: 60.38px;
    margin-left: 47%;
}





.menu-wrap {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 1;
  
    
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
    margin-left: 47px;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 11px;
    left: 0;
    z-index: 1;
    width: 25px;
    height: 3px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 47px;
  }

  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  

  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  

  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  

  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  

  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  

  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
   
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;

  }
  
  .menu-wrap .menu > div {
    background: #10141b ;
    width: 50%;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  


header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px ;
    margin-right: 50px;
    
    
}


.harryPotterLogo{
    width: 350px;
    height: 200px;
    margin-top: 50px;
    animation: growUp 1s;
    transition: ease-in; 
    animation-timing-function: ease-in-out;
}

.hero_section{
    width: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    margin-left:20%;
    
}


h1{
    font-size:40px;
    animation: growUp 1s;
    transition: ease-in;
    animation-timing-function: ease-in-out;
}

.btn{
    width:320px;
    height: 52px;
    background-color: #6b63b5;
    color:#fff;
    font-size:14px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-top:40px;
    animation: growUp 1s;
    transition: ease-in;
    border: 0; 
    animation-timing-function: ease-in-out; 
    
}


.hero_img{
    position:absolute;
    z-index:-2;
    width: 100%;
    height:100vh;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
   
}

.description{
    animation: growUp 1s;
    transition: ease-in;
    animation-timing-function: ease-in-out;
    font-family: 'HennyPenny-Regular';

}


@keyframes growUp{
    0%   { transform:scale(0); }
  100% { transform:scale(1); }
}



.audio_img{
  width: 905.66px;
  height: 509.42px;

  
}

.Audio{
  width: 100%;
  height:100vh;
  background-color: #10141b;
  margin-top: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}


.Audio_Section{
  
  position: absolute;
  left:800px

}

.littleone{
  font-family: 'HennyPenny-Regular';
  font-weight: 700;
  font-size: 25px;
  line-height: 42px;
  color: #f9f4f2;
  text-align: left;
  margin-top: 5px;
}


.main_txt{

  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: #f9f4f2;
  text-align: left;
  margin-top: 5px;
}


.description2{

  font-weight: 700;
  font-size: 20px;
  line-height: 42px;
  color: #f9f4f2;
  text-align: left;
  margin-top: 5px;
}


.youTube{
  width: 100%;
}


.youtubeWrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.firstTwo{
  display: flex;
  flex-direction: column;
}

.firstTwo div{
  width:492px;
  height: 390.8px;
  background-color: white;
  margin-top: 20px;
}


.secondTwo{
  display: flex;
  flex-direction: column;
  margin-top: 190px;
}

.secondTwo div{
  width:492px;
  height: 390.8px;
  margin-top: 20px;

}

.youTube h2{
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: #f9f4f2;
  text-align: left;
  margin-left: 100px;
}


/* footer */
footer{
    height: 515px;
    padding-left: 50px;
    padding-right: 50px;
    padding: 40px 20px;
    text-align: center;
    line-height: 1;
    font-size: 10px;
    position: relative;
    background-color: #10141b;
    z-index: 3;
    font-family: 'Sofia-Regular';
    font-weight: 400;
}


.outer{  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #696b78;
  margin-top: 90px;
}


.inner{
  max-width: 1240px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.upper{
  height: 105px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 12px;
    
}


.upper_ul{
  list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height: 105px;
}

.upper_ul li{
  margin-bottom: 15px;
    display: flex;
    font-size: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: left
}

.logo img{
  width: 107.99px;
  height: 80.81px;
}


.divider{
  border: 2px;
    height: 1px;
    width: 100%;
    background-color: #353643;
}


.lower{
  padding-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.textDiv{
  
  height: 200px;
  text-align: left;
    margin-top: 15px;
    line-height: 1.33;
    font-family: 'Sofia-Regular';
    color: #9fa1ad;
    padding-left:25px;

}

.tradeMark{
  font-size: 14px;
    line-height: 20px;
    max-width: 702px;
    width: 100%
}

.textDiv p{
  font-size: 14px;
    line-height: 20px;
    max-width: 702px;
    width: 100%;
    margin: 16px 0;
    font-weight: 400;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: .25px;
    font-size: 12px;
}


.social{
  display: flex;
    justify-content: space-between;
    width: 220px;
    top: 0;
    right: 0;
    margin-top: 19px;
    padding-right: 25px;
}

.social li{
  width: 40px;
    height: 40px;
    background-color: #242633;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.social li svg path {
  fill:#fff;
}



  /* hero statistics  */


  .hero_reviews{
    text-align: center;
  }

  .nightSky{
    position:absolute;
    z-index:-2;
    width: 100%;
    height:100vh;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
  }


  .hero_reviews h1{
    font-size: 90px;
    
  }


  #characters{
    width: 595px;
    height: 595px;
   border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    margin:60px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
  }


  .divSection{
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top:400px
  }


  .hero{
    margin-top: 350px ;
  }



  .forms{
    width: 315px;
    margin: 0 auto;
  }


  .svg_au{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }


  .h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 315px;
    text-align: center;
  }

  .h1 h1{
    font-size: 35px;
    line-height: 43px;
    width: 315px;
    margin-bottom: 40px;
  }

  .formAuth{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  form{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .SignInForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }


  .input-container{
    margin-bottom: 32px;
  }


  .Auth_inputContainer>label{
    margin-top: 20px;
  }


  .field-label{
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    position: relative;
    letter-spacing: 1.5px!important;
    display: inherit;
    line-height: 1.33!important;
    font-family: 'Sofia-Regular' ;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 1.1px;
  }


  .label-txt{
    font-size: 11px;
    color: #fff;
    position: relative;
    font-weight: 700;
    line-height: 1.08;
    letter-spacing: 1.1px
  }


  .SignInForm_createAccountTxt button{
    line-height: 1.67;
    font-size: .75rem;
    color: #fff;
  }

  .Auth_btnContainer{
    width: 100%;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .Button_btnPrimary{
    color: #3a372e;
    background-color: #cec094;
    border-radius: 30px;
    border-width: 0;
    min-width: 200px;
    display: inline-block;
    text-align-last: center;
    font-family: 'Sofia-Regular';
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 1.1px;
    transition: background-color .3s ease-in-out;
    height: 48px;
    width: 311px;



  }

  .form-header{
    height: 20%;
  }


  .input-txt{
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    background: inherit;
    padding: 18px 20px 14px;
    margin: 8px 0;
    border: 1px solid hsla(0,0%,59.2%,.2);
    border-radius: 3px;
    transition: border .3s ease-in-out;
    width: 311px;
  }


  .loginbtn{
    background-color: #6b63b5;
    color: #f9f4f2;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    border-radius: 3px;
    padding:8px 20px 5px;
    border: 0;
  }

  /* #canvas1{
    position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: -2;
  } */



  @media   (max-width: 320px){
    body{
      display: block;
      
    }

    .hero_img{
      position:absolute;
      z-index:-2;
      width: 100%;
      height:100vh;
      object-fit: cover;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; 
     
  }



  .hero_section{
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 15px;
  margin-left:10px;
  
  }


  .btn{
    width:220px;
    height: 42px;
    background-color: #6b63b5;
    color:#fff;
    font-size:14px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-top:40px;
    animation: growUp 1s;
    transition: ease-in;
    border: 0; 
    animation-timing-function: ease-in-out; 
    
}


h1{
  font-size: 20px;
}


.harryPotterLogo{
  width: 250px;
  height: 100px;
  margin-top: 37px;
}

.wizardingLogo{
  margin-left: 40%;
  margin-right: 9%;
}


.audio_img{
  width: 320px;
  height: 180px;
}

.Audio_Section{

      /* position: absolute; */
      left: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-top: 200px;
      align-items: center;
}

.main_txt{
  font-size: 20px;
}


.youtubeWrapper{
  flex-wrap: wrap;
}

.firstTwo div{
  width: 260px;
  height: 260px ;
}

.iframe{
  width: 260px;
  height: 260px;
}

.secondTwo{
  margin-top: 0;
}
.secondTwo div{
  width: 260px;
  height: 260px ;
  
}


footer{
  height: 515px;
  padding-left: 50px;
  padding-right: 50px;

  padding: 40px 20px;
  text-align: center;
  line-height: 1;
  font-size: 10px;
  position: relative;
  background-color: #10141b;
  transform: translateZ(1px);
  z-index: 3;
  font-family: 'Sofia-Regular';
  font-weight: 400;
}


.outer{  
display: flex;
flex-direction: column;
justify-content: space-between;
border: 1px solid #696b78;
margin-top: 90px;
}


.inner{
max-width: 1240px;
width: 100%;
margin-left: auto;
margin-right: auto;
}

.upper{
height: 192px;
display: flex;
flex-direction: column-reverse;
justify-content: space-between;
width: 100%;
padding-bottom: 12px;
  
}


.upper_ul{
list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  height: 105px;
}

.upper_ul li{
margin-bottom: 15px;
  display: flex;
  font-size: 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: left
}

.logo img{
width: 90px;
height: 70px;
margin-left: 12%;
}


.divider{
border: 2px;
  height: 1px;
  width: 100%;
  background-color: #353643;
}


.lower{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  padding-top: 15px;
}

.textDiv{

height: 200px;
text-align: left;
  margin-top: 15px;
  line-height: 1.33;
  font-family: 'Sofia-Regular';
  color: #9fa1ad;
  padding-left:25px;

}

.tradeMark{
font-size: 14px;
  line-height: 20px;
  max-width: 702px;
  width: 100%
}

.textDiv p{
font-size: 14px;
  line-height: 20px;
  max-width: 702px;
  width: 100%;
  font-weight: 400;
  font-stretch: normal;
  line-height: 10px;
  letter-spacing: .25px;
  font-size: 12px;
}


.social{
display: flex;
  justify-content: space-between;
  width: 220px;
  top: 0;
  right: 0;
  margin-top: 19px;
  padding-right: 25px;
}

.social li{
width: 40px;
  height: 40px;
  background-color: #242633;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.social li svg path {
fill:#fff;
}

.hero_reviews h1{
  font-size: 60px;
}

}



/* iphone 6 inteface */


@media only screen and (min-device-width: 375px) and (max-device-width: 667px){
  body{
    display: block;
  }




.hero_section{
width: 320px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
font-size: 15px;
margin-left:43px;

}


.btn{
  width:220px;
  height: 42px;
  /* background-color: #6b63b5;
  color:#fff; */
  font-size:14px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1.5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-top:40px;
  animation: growUp 1s;
  transition: ease-in;
  border: 0; 
  animation-timing-function: ease-in-out; 
  
}

.menu-wrap .hamburger{
  margin-left: 16px;
}

h1{
font-size: 20px;
}


.harryPotterLogo{
width: 250px;
height: 100px;
margin-top: 37px;
}

.wizardingLogo{
margin-left: 40%;
margin-right: 9%;
}


.audio_img{
width: 320px;
height: 180px;
}

.Audio_Section{

    /* position: absolute; */
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
    align-items: center;
    margin-left: 20px;
}

.main_txt{
font-size: 20px;
}


.youtubeWrapper{
flex-wrap: wrap;
}

.firstTwo div{
width: 260px;
height: 260px ;
}

.iframe{
width: 260px;
height: 260px;
}

.secondTwo{
margin-top: 0;
}
.secondTwo div{
width: 260px;
height: 260px ;

}


footer{
height: 515px;
padding-left: 50px;
padding-right: 50px;

padding: 40px 20px;
text-align: center;
line-height: 1;
font-size: 10px;
position: relative;
background-color: #10141b;
transform: translateZ(1px);
z-index: 3;
font-family: 'Sofia-Regular';
font-weight: 400;
}


.outer{  
display: flex;
flex-direction: column;
justify-content: space-between;
border: 1px solid #696b78;
margin-top: 90px;
}


.inner{
max-width: 1240px;
width: 100%;
margin-left: auto;
margin-right: auto;
}

.upper{
height: 192px;
display: flex;
flex-direction: column-reverse;
justify-content: space-between;
width: 100%;
padding-bottom: 12px;

}


.upper_ul{
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;
height: 105px;
}

.upper_ul li{
margin-bottom: 15px;
display: flex;
font-size: 20px;
line-height: 20px;
font-size: 14px;
text-align: left
}

.logo img{
width: 90px;
height: 70px;
margin-left: 12%;
}


.divider{
border: 2px;
height: 1px;
width: 100%;
background-color: #353643;
}


.lower{
display: flex;
flex-direction: column-reverse;
align-items: center;
width: 100%;
padding-top: 15px;
}

.textDiv{

height: 200px;
text-align: left;
margin-top: 15px;
line-height: 1.33;
font-family: 'Sofia-Regular';
color: #9fa1ad;
padding-left:25px;

}

.tradeMark{
font-size: 14px;
line-height: 20px;
max-width: 702px;
width: 100%
}

.textDiv p{
font-size: 14px;
line-height: 20px;
max-width: 702px;
width: 100%;
font-weight: 400;
font-stretch: normal;
line-height: 10px;
letter-spacing: .25px;
font-size: 12px;
}


.social{
display: flex;
justify-content: space-between;
width: 220px;
top: 0;
right: 0;
margin-top: 19px;
padding-right: 25px;
}

.social li{
width: 40px;
height: 40px;
background-color: #242633;

border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}


.social li svg path {
fill:#fff;
}

.hero_reviews h1{
font-size: 60px;
}

}

